@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dashboard</h2>
<div>
    <input type="text" placeholder="Search..." />
    <button>Search</button>
</div>

<table>
    <thead>
        <tr>
            <th>CNIC</th>
            <th>Name</th>
            <th>Status</th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>38455-9876345-3</td>
            <td>Muhammad Huzaifa</td>
            <td>Enabled</td>
            <td><button>Disable</button></td>
            <td><button>Enable</button></td>
        </tr>
        <tr>
            <td>38652-2119445-1</td>
            <td>Usman Baig</td>
            <td>Enabled</td>
            <td><button>Disable</button></td>
            <td><button>Enable</button></td>
        </tr>
        <tr>
            <td>38455-0958321-3</td>
            <td>Abdullah Khan</td>
            <td>Disabled</td>
            <td><button>Disable</button></td>
            <td><button>Enable</button></td>
        </tr>
    </tbody>
</table>
